main#resume {
  color: #fff;
  .container {
    padding: 0 100px;
  }

  .react-pdf__Page {
    background-color: transparent;
  }
  .react-pdf__Page__canvas {
    margin: 0 auto;
  }

  a {
    display: block;
    width: fit-content;
    margin: 50px auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #6d20c5d7;
  }
}
