@import "../../assets/style/components.scss";
.header {
  position: sticky;
  top: 0;
  transition: 300ms;
  backdrop-filter: blur(0px);
  &.blured {
    backdrop-filter: blur(15px);
  }
  z-index: 50;
  @include tablet {
    background-color: #181a2742;
    backdrop-filter: blur(0px);
  }
  .container {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 30px;
    // z-index: 10;
    @include tablet {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $dark;
      gap: 20;
      flex-direction: column;
      padding: 20px 0;
      transition: 400ms;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      nav {
        flex-direction: column;
        gap: 20px;
        a {
          padding-top: 0;
        }
      }
    }
  }
  .logo img {
    color: $main;
    font-weight: bold;
    width: 37px;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
    a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      display: flex;
      gap: 8px;
      align-items: center;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      padding: 10px 0;
      &:hover::before {
        left: 0;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        transition: 400ms;
        left: -100%;
        width: 100%;
        height: 3px;
        border-radius: 100px;
        background-color: $main;
      }
    }
  }
  .repo-button {
    color: #fff;
    background-color: #cd5ff862;
    border: 1px solid #cd5ff888;
    border-radius: 5px;
    padding: 7px 15px;
    display: flex;
    gap: 15px;
    transition: 400ms;
    transform: translateY(0px);
    &:hover {
      transform: translateY(-3px);
      background-color: #cd5ff8a3;
      border-color: #cd5ff8d1;
    }
  }
  .menu-btn {
    all: unset;
    position: relative;
    width: 27px;
    height: 18px;
    cursor: pointer;
    display: none;
    &.active {
      span {
        background-color: $main;
      }
      span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      border-radius: 100px;
      transition: 300ms;
    }
    span:nth-child(1) {
      top: 0;
    }
    span:nth-child(2) {
      top: 47%;
    }
    span:nth-child(3) {
      bottom: 0;
    }
    @include tablet {
      display: block;
    }
  }
}
